#page_contacto{
.contenedor-mapa_contacto{
    position: relative;
    iframe{
        width: 100%;
    }
    .contenedor-overlay{
        position: absolute;
        top:55%;
        left: 10%;
    }
}
.card{
    margin: 5 5px;
    border: none;
}
}