@font-face {
    font-family: 'Roboto'; // Asignar un nombre
    src: url('../fonts/Roboto-Regular.ttf'), // Ruta de la fuente
}
@font-face {
    font-family: 'century-gotic'; // Asignar un nombre
    src: url('../fonts/DidactGothic-Regular.ttf'), // Ruta de la fuente
}

